<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>375830439267-518ddiu2sbrp26avvtkoi63e4a5oj0cc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.375830439267-518ddiu2sbrp26avvtkoi63e4a5oj0cc</string>
	<key>API_KEY</key>
	<string>AIzaSyBrmwWn0TqPO_rl0C_wjl8Kfkansc5fJFo</string>
	<key>GCM_SENDER_ID</key>
	<string>375830439267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.atlantiskun.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-e7afe</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-e7afe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375830439267:ios:fac741e946e662ddd49f56</string>
</dict>
</plist>